[credential]
	helper = store
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[user]
	name = urustin
	email = ericfromkorea@gmail.com
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[diff]
	tool = nvimdiff
[difftool]
	prompt = false
